aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
blinker
browser-cookie3
certifi
cffi
charset-normalizer
click
cssselect
curl-cffi
fastapi
feedfinder2
feedparser
filelock
Flask
Flask-Cors
frozenlist
g4f
h11
idna
itsdangerous
jieba3k
Jinja2
joblib
Js2Py
lxml
lz4
MarkupSafe
multidict
newspaper3k
nltk
Pillow
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic_core
pyjsparser
python-dateutil
PyYAML
quickjs
regex
requests
requests-file
sgmllib3k
six
sniffio
soupsieve
starlette
tinysegmenter
tldextract
tqdm
typing_extensions
tzlocal
urllib3
uvicorn
websockets
Werkzeug
yarl
